<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
    <title>Cadastro</title>
</head>
<body class="center background">
    <section class="center container" style="height: 80%;">
        <form id="registration" class="p-3 mx-auto" style="border: 2px #CCC solid;border-radius: 12px;height: 100%; width: 75%;max-width: 500px;max-height: 500px;">
            <h3 class="text-light mt-3 text-center">SEJA UM DE NÓS</h3>
            <input type="text" placeholder="Insira seu nome" name="name" id="name" class="input text-dark form-control mx-auto mt-4">
            <input type="text" placeholder="Insira seu email" name="email" id="email" class="input text-dark form-control mx-auto mt-4">
            <input type="password" placeholder="Insira sua senha" name="password" id="password" class="input form-control text-dark mx-auto mt-4">
            <input type="password" placeholder="Repita sua senha" id="repeat" class="input form-control text-dark mx-auto mt-4">
            <select name="type" id="type" class="input form-control mx-auto mt-4 mb-2 text-light">
                <option class="input text-dark" value="passenger"><strong>PASSAGEIRO</strong></option>
                <option class="input text-dark" value="driver"><strong>MOTORISTA</strong></option>
            </select>
            <div id="passwordError" class="p-2 text-center d-none form-group">
                <label class="font-weight-bold" style="color: #161917;">As senhas devem ser iguais</label>
            </div>
            <div id="accessDenied" class="p-2 text-center d-none form-group">
                <label class="font-weight-bold" style="color: #161917;">Usuário já existe</label>
            </div>
            <div class="center mt-3">
                <button type="button" id="submit" class="form-control text-light w-50 btn-success">ENTRAR</button>
            </div>
        </form>
    </section>
</body>
<script>
    const btn_submit = document.getElementById("submit")
    const input_email = document.getElementById("email")
    const input_password = document.getElementById("password")
    const select_type = document.getElementById("type")
    const input_repeat = document.getElementById("repeat")
    const input_name = document.getElementById("name")

    btn_submit.addEventListener('click', onSubmit)
    setChangeColorOnElement([select_type, input_password, input_email, input_repeat, input_name])

    function setChangeColorOnElement(arr) {
        arr.forEach((item) => {
            item.addEventListener('blur', changeTextToLight)
            item.addEventListener('click', changeTextToDark)
        })
    }

    function changeTextToLight(event){
        event.target.setAttribute('class', 'input form-control text-white mx-auto mt-4')
    }

    function changeTextToDark(event){
        event.target.setAttribute('class', 'input form-control text-dark mx-auto mt-4')
    }
    
    function onSubmit(event){
        document.forms.registration.setAttribute('class', '')
        document.getElementById('passwordError').setAttribute('class','p-2 text-center d-none form-group')
        document.getElementById('accessDenied').setAttribute('class','p-2 text-center d-none form-group')
        if(!(input_repeat.value === input_password.value)){
            return passwordError()
        }
        const req = buildRequest()
        sendRequest(req)
    }

    function buildRequest(){
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        return new Request("http://localhost:3000/register",{method: 'POST', "headers": myHeaders, body: JSON.stringify({
            "email": document.getElementById('email').value,
            "password": document.getElementById('password').value,
            "type": document.getElementById('type').value,
            "name": document.getElementById('name').value,
        })})
    }

    function sendRequest(req){
        fetch(req).then((response) => {
            response.json().then((res) => {
                login(res)
            })
        })
    }

    function login(res){
        if(res.token){
            localStorage.setItem('token', res.token)
        }
        else{
            accessDenied()
        }
    }

    function passwordError() {
        const passwordError = document.getElementById('passwordError')
        passwordError.setAttribute('class', 'center')
        input_password.setAttribute('style', 'border-color: #b9030f;border 5px;')
        input_repeat.setAttribute('style', 'border-color: #b9030f;border 5px;')
        document.forms.registration.setAttribute('class', 'accessDenied')
    }

    function accessDenied(){
        const accessDenied = document.getElementById('accessDenied')
        accessDenied.setAttribute('class', 'center')
        input_email.setAttribute('style', 'border-color: #b9030f;border 5px;')
        input_password.setAttribute('style', 'border-color: #b9030f;border 5px;')
        input_repeat.setAttribute('style', 'border-color: #b9030f;border 5px;')
        input_name.setAttribute('style', 'border-color: #b9030f;border 5px;')
        select_type.setAttribute('style', 'border-color: #b9030f;border 5px;')
        document.forms.registration.setAttribute('class', 'accessDenied')
    }
</script>
</html>